.second {
  background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 2rem;
}

.home-links {
  background-color: #ff8400;
  text-align: center;
  padding: 0.3rem;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 30vw;
  margin: 0 auto;
  border-radius: 5px;
}

.greeting {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url('loot_boxes.jpg');
  width: 100vw;
  height: 50vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  text-align: center;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.items {
  width: 20vh;
  height: 20vh;
  text-align: center;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
