<<<<<<< HEAD
body {
  width: 100%;
}
.form-box {
  width: 100vw;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
}
.btn-form {
  width: 100%;
}

.btn-form:hover {
  width: 100%;
  background-color: #ff8400;
}

.form-signup {
  margin: 0 auto;
  width: 50%;
=======
.form-signup {
  margin-left: 60%;
}
.signup-title {
  margin-left: 5em;
>>>>>>> 7b3154f0490778a37a7ae78900badf4ee755b127
}
